    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    {% if user.is_authenticated %}

                    <div class="dropdown profile-element">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{ user.username }}</strong>
                             </span> <span class="text-muted text-xs block">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-o"></i>

                                <b class="caret"></b></span> </span> </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="#">Logout</a></li>
                            </ul>
                    </div>
                    {% endif %}
                    <div class="logo-element">

                    </div>
                </li>
                <li>
                    <a href="#"><i class="fa fa-shopping-cart"></i> <span class="nav-label">Shopping</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="/index/">Recommended</a></li>
                        {% for c in cate %}
                        <li><a href="/index/cate/{{ c.pk }}/">{{ c.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
              {% if user.is_authenticated %}
                <li>
                    <a href="/cart/"><i class="fa fa-star"></i> <span class="nav-label">My Watchlist</span></a>
                </li>

{#                {% if user.is_seller %}#}
{#                <li>#}
{#                    <a href="#"><i class="fa fa-dollar"></i> <span class="nav-label">Seller</span><span class="fa arrow"></span></a>#}
{#                    <ul class="nav nav-second-level collapse">#}
{#                        <li >#}
{#                        <a href="#">Post new <span class="fa arrow"></span></a>#}
{#                        <ul class="nav nav-third-level collapse in">#}
{#                            <li>#}
{#                                <a href="/item/new/n/">List Item</a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a href="/item/new/">Bid Item</a>#}
{#                            </li>#}
{#                        </ul>#}
{#                    </li>#}
{#                        <li><a href="/sells/">Your Sells</a></li>#}
{#                    </ul>#}
{#                </li>#}
{#                {% endif %}#}
{#                <li>#}
{#                    <a href="#"><i class="fa fa-user"></i> <span class="nav-label">Profile</span><span class="fa arrow"></span></a>#}
{#                    <ul class="nav nav-second-level collapse">#}
{#                        <li><a href="/cart/">My cart</a></li>#}
{#                        <li><a href="/history/">Purchase history</a></li>#}
{#                        <li><a href="form_basic.html">Change profile</a></li>#}
{#                        <li><a href="/seller_request/">Request become seller</a></li>#}
{#                    </ul>#}
{#                </li>#}
            {% endif %}
            </ul>

        </div>
    </nav>

