{% extends 'base.html' %}

{% block content %}
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>My watchlist</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="/index/">Home</a>
                        </li>

                        <li class="active">
                            <strong>Watchlist</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">

                </div>
            </div>

        <div class="wrapper wrapper-content animated fadeInRight">

            <div class="row">
                <div class="col-md-12">

                    <div class="ibox">
                        <div class="ibox-title">
                            <span class="pull-right">(<strong>{{ cart_items.count }}</strong>) items</span>
                            <h5>Car(s) in your watchlist</h5>
                        </div>
                        {% for item in cart_items %}
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table class="table shoping-cart-table">

                                    <tbody>
                                    <tr>
                                        <td width="90">
                                            <div class="cart-product-imitation">
                                                <img class="img-responsive" src="{{ item.img1 }}">
                                            </div>
                                        </td>
                                        <td class="desc">
                                            <h3>
                                                <a href="/item/id/{{ item.pk }}" class="text-navy">
                                                    {{ item.name }}
                                                </a>
                                            </h3>
                                            <p class="small">
                                                {{ item.description_short }}
                                            </p>
                                            <dl class="small m-b-none">
                                                <dt>Description</dt>
                                                <dd>{{ item.description }}</dd>
                                            </dl>

                                            <div class="m-t-sm">
                                                <a href="/cart/remove/{{ item.pk }}" class="text-muted"><i class="fa fa-trash"></i> Remove item</a>
                                            </div>
                                        </td>
                                        <td>
                                            <h3>
                                                ${{ item.listed_price }}
                                            </h3>
                                                                            <a href="{{ item.contact }}" class="btn btn-primary pull-right">Contact the seller</a>

                                        </td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        {% endfor %}
                    </div>

                </div>
{#                <div class="col-md-3">#}
{##}
{#                    <div class="ibox">#}
{#                        <div class="ibox-title">#}
{#                            <h5>Cart Summary</h5>#}
{#                        </div>#}
{#                        <div class="ibox-content">#}
{#                            <span>#}
{#                                Total#}
{#                            </span>#}
{#                            <h2 class="font-bold">#}
{#                                ${{ total }}#}
{#                            </h2>#}
{##}
{#                            <hr/>#}
{#                            <span class="text-muted small">#}
{#                                *Applicable sales tax may be applied#}
{#                            </span>#}
{#                            <div class="m-t-sm">#}
{#                                <div class="btn-group">#}
{#                                <a href="/checkout/" {% if total is 0 %}disabled{% endif %} class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart"></i> Checkout</a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{##}
{##}
{#                </div>#}
            </div>
        </div>
{% endblock %}