{% extends 'base.html' %}

{% load static %}
{% load get_range %}
{% load widget_tweaks %}

{% block css %}
    <link href="{% get_static_prefix %}css/plugins/slick/slick.css" rel="stylesheet"
          xmlns="http://www.w3.org/1999/html">
    <link href="{% get_static_prefix %}css/plugins/slick/slick-theme.css" rel="stylesheet">
    <link href="{% get_static_prefix %}css/plugins/touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet">
{% endblock %}


{% block content %}
        <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>Car detail</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/index/">Home</a>
                </li>
                <li >
                    <a href="/index/">Car list</a>
                </li>
                <li class="active">
                    <strong>Car detail</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>

    <div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox product-detail">
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="product-images">
                                <div>
                                    <div class="image-imitation">
                                        <img class="img-responsive" src="{{ item.img1 }}">
                                    </div>
                                </div>
                                <div>
                                    <div class="image-imitation">
                                       <img class="img-responsive" src="{{ item.img2 }}">
                                    </div>
                                </div>
                                <div>
                                    <div class="image-imitation">
                                       <img class="img-responsive" src="{{ item.img3 }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">

                            <h2 class="font-bold m-b-xs">
                                {{ item.name }}
                            </h2>
                            <small>{{ item.category }}</small>
                            <hr>
                            <div>
                                <a href="{{ item.contact }}" class="btn btn-primary pull-right">Contact the seller</a>

                                <h1 class="product-main-price"><strong>{% if item.listed_price != 0.0 %}${{ item.listed_price }}{% else %}Call/Email{% endif %}</strong> <small class="text-muted">Exclude Tax</small>  </h1>

                            </div>
                            <hr>
                            <h4>Product description</h4>

                            <div class="small text-muted">
                               {{ item.description }}
                            </div>

                            <h4>Details</h4>
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>Year</td>
                                <td>{{ item.year }}</td>
                            </tr>
                            <tr>
                                <td>New/Used</td>
                                <td>{{ item.new_used }}</td>
                            </tr>
                            <tr>
                                <td>Make</td>
                                <td>{{ item.make }}</td>
                            </tr>
                            <tr>
                                <td>Mile</td>
                                <td>{{ item.mile }}</td>
                            </tr>
                            <tr>
                                <td>Style</td>
                                <td>{{ item.style }}</td>
                            </tr>
                            <tr>
                                <td>VIN</td>
                                <td>{{ item.vin }}</td>
                            </tr>
                            <tr>
                                <td>Engine</td>
                                <td>{{ item.engine }}</td>
                            </tr>
                              {% if item.in_color %}
                            <tr>
                                <td>In Color</td>
                                <td>{{ item.in_color }}</td>
                            </tr>
                            {% endif %}
                            {% if item.ex_color %}
                                <td>Ex Color</td>
                                <td>{{ item.ex_color }}</td>
                            {% endif %}
                            </tbody>
                        </table>
                            <div class="text-right">
                                <div class="btn-group">
                                      <a {% if not user.is_authenticated %}disabled {% endif %} href="/item/id/{{ item.pk }}/addcart" class="btn btn-primary"><i class="fa fa-star"></i> Add to watchlist</a>

                                    <button class="btn btn-white btn" data-toggle="modal" data-target="#myModal"><i class="fa fa-envelope"></i> Leave a comment</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    {% if rates %}
    <div class="col-lg-12">
        <div class="ibox-content">
            <div>
                <div class="feed-activity-list">
                    {% for rate in rates %}
                    <div class="feed-element">
                        <a href="#" class="pull-left">
                            <img alt="image" class="img-circle" src="img/a1.jpg">
                        </a>
                        <div class="media-body ">
                            <small class="pull-right text-navy">{{ rate.created }}</small>
                            <strong>{{ rate.rater.username }}</strong><br>
                            {% for i in rate.num|get_range %}<i class="fa fa-star"></i>{% endfor %}<br>
                           {{ rate.content }}
                            <div class="actions">
                                <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a>
                                <a class="btn btn-xs btn-white"><i class="fa fa-flag"></i> Flag</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    </div>
    </div>
{% endblock %}

{% block modal %}

    <div class="modal inmodal in" id="myModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content animated fadeIn">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Comment</h4>
                </div>
                 <form method="post" action="/item/id/{{ item.pk }}/rate/">
                     {% csrf_token %}
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Rate</label>
                            <div class="row"> <div class="col-md-4"><input id="num" name="num" type="text" required placeholder="0 - 5" class="form-control"></div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <label class="col-sm-2 control-label">Comment</label>

                            <div class="col-sm-10"><textarea required name="content" id="content" type="text" class="form-control"></textarea></div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Post</button>
                </div>
            </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<!-- slick carousel-->
<script src="{% get_static_prefix %}js/plugins/slick/slick.min.js"></script>
<!-- TouchSpin -->
<script src="{% get_static_prefix %}js/plugins/touchspin/jquery.bootstrap-touchspin.min.js"></script>
<script>
    $(document).ready(function(){
        $('.product-images').slick({
            dots: true
        });
    });
</script>
{% endblock %}